@charset "utf-8";

.inner {
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #fff;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 15px 0;
  text-align: center;
}

.header-logo {
  display: inline-block;
  text-decoration: none;
}

.main-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.custom-icon {
  color: #777;
  display: inline-block;
}

.button {
  display: inline-block;
  cursor: pointer;
  background-color: #6ba7eb;
  color: #ffffff;
  padding: 12px 14px;
  text-decoration: none;
  font-size: 12px;
  transition: color 0.3s;
}

.button:hover {
  color: #333;
}

.keyvisual {
  background-image: url("../img/keyvisual/keyvisual.jpg");
  background-size: cover;
  background-position: center;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

.keyvisual-inner {
  text-align: center;
}

.page-title {
  font-size: 65px;
  font-weight: 700;
  color: #6ba7eb;
  white-space: nowrap;
}

.keyvisual-inner p {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 30px;
}

.work {
  background-color: #e3f2fd;
  padding-top: 100px;
  padding-bottom: 0;
}

.work-inner {
  display: flex;
  align-items: center;

}

.work-img {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-img img {
  max-width: 100%;
  height: auto;
}

.work-text {
  flex: 6;
  text-align: center;
}

.work-text h3 {
  font-size: 40px;
  letter-spacing: 10px;
  margin-top: 0;
  margin-bottom: 35px;
}

.work-text p {
  font-size: 15px;
  line-height: 18px;
  word-break: break-all;
}

.skills {
  background-color: #fff;
  padding: 50px 0 70px;
}

.skills-inner {
  text-align: center;
}

.skills-inner h4 {
  font-size: 40px;
  letter-spacing: 10px;
  margin-bottom: 50px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.skills-list li {
  width: 300px;
  height: 300px;
}

.skills-list a {
  display: block;
  width: 100%;
  height: 100%;
}

.skills-list img {
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.skills-list a:hover img {
  opacity: 1.0;
}

.plan {
  background-color: #d0dfea;
  padding: 50px 0;
}

.plan-inner {
  text-align: center;
}

.plan-inner h4 {
  font-size: 40px;
  letter-spacing: 15px;
  margin-bottom: 50px;
}

.plan-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  table-layout: fixed;
}

.plan-table th,
.plan-table td {
  padding: 10px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  border: 1px solid #c4d7e6;
  color: #333;
}

.plan-table tr:nth-child(1) {
  background-color: #6ba7eb;
}

.plan-table tr:nth-child(1) th {
  color: #ffffff;
  font-weight: 700;
}

.plan-table tr:nth-child(1) th+th {
  border-left: 2px solid #ffffff;
}

.plan-table tr:nth-child(2) {
  background-color: #f9f9f9;
}

.plan-table tr:nth-child(3) {
  background-color: #e0efff;
}

.plan-table tr:nth-child(4) {
  background-color: #ffffff;
}

.plan-table tr:nth-child(5) {
  background-color: #e0efff;
}

.plan-table tr:nth-child(6) {
  background-color: #ffffff;
}

.plan-table tr th:first-child {
  font-weight: 700;
}

.sns {
  background-color: #e3f2fd;
  padding: 200px 0;
}

.sns-inner {
  text-align: center;
}

.sns-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sns-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 92.5px;
  color: #8c8c8c;
  font-size: 40px;
  text-decoration: none;
  background-color: transparent;
  transition: background-color 0.5s ease;
}

.sns-list li a:hover {
  background-color: #fff;
}

footer {
  background-color: #cfd8dc;
  padding: 20px 0 25px;
}

.copyright {
  max-width: 1100px;
  margin: 0 auto;
  padding-right: 25px;
  text-align: right;
  font-size: 10px;
  letter-spacing: 0.5px;
  color: #333;
}